<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>HeadShotHarp | Replica</title>
		<meta http-equiv="content-type" content="charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrapfix.css" />
	</head>
	<body>
	
		<div th:remove="tag" th:fragment="server">
			<link rel="stylesheet" type="text/css" href="/css/server.css" />
			<link rel="stylesheet" type="text/css" href="/css/progressbar.css" />
			<div class="row bg">
				<div class="col-md-12">
					<p>Server ist <b th:text="${server.online} == true? 'online' : 'offline'"></b></p>
					<p>Es sind <b th:text="${server.onlinePlayers.size()}"></b> Spieler online</p>
					<p>Der Server läuft seit <b th:text="${server.uptime}"></b></p>
				</div>
			</div>
			<div class="row bg">
				<div class="col-md-12">
					<p>Serverweit abgebaute Blöcke diesen Monat:</p>
					<div id="progressbar_break" class="progressbar">
						<div>
							<div class="progress_green" style="width: 0%;"></div>
						</div>
						<p class="progressbarrelative">0%</p>
						<p class="progressbarabsolute"><b>0</b> von <b>1000000</b></p>
					</div>
					<br />
					<p>Serverweit platzierte Blöcke diesen Monat:</p>
					<div id="progressbar_place" class="progressbar">
						<div>
							<div class="progress_blue" style="width: 0%;"></div>
						</div>
						<p class="progressbarrelative">0%</p>
						<p class="progressbarabsolute"><b>0</b> von <b>1000000</b></p>
					</div>
					<br />
				</div>
			</div>
			<div class="row bg">
				<div class="col-md-12">
					<hr />
					<div class="btn-group" role="group">
						<a href="/server" class="btn btn-default" th:classappend="${thismonth} == true ? '':'active'">Gesamt</a>
						<a href="/server?month=true" class="btn btn-default" th:classappend="${thismonth} == true ? 'active':''">Dieser Monat</a>
					</div>
				</div>
			</div>
			<div class="row bg">
				<div class="col-md-6">
					<h3>Abgebaute Blöcke:</h3>
					<div th:remove="tag" th:utext="${tableBreak}"></div>
				</div>
				<div class="col-md-6">
					<div class='donut'>
						<svg id="donut_block_break" viewbox="0 0 300 260"></svg>
						<p><small th:text="'Prozentual aller abgebauten Blöcke Serverweit' + (${thismonth} == true ? ' diesen Monat':'')"></small></p>
					</div>
				</div>
			</div>
			<div class="row bg">
				<div class="col-md-6">
					<h3>Platzierte Blöcke:</h3>
					<div th:remove="tag" th:utext="${tablePlace}"></div>
				</div>
				<div class="col-md-6">
					<div class='donut'>
						<svg id="donut_block_place" viewbox="0 0 300 260"></svg>
						<p><small th:text="'Prozentual aller platziertzen Blöcke Serverweit' + (${thismonth} == true ? ' diesen Monat':'')"></small></p>
					</div>
				</div>
			</div>
			<script src="/webjars/d3js/3.5.17/d3.js"></script>
			<script src="/js/Donut3D.js"></script>
		</div>

		<script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
</html>